
@{
    ViewData["Title"] = "GetData";
}
    <form method="post">
        <p><input type="text" name="items"/></p>
        <p><input type="text" name="items" /></p>
        <p><input type="text" name="items" /></p>
        <p><input type="text" name="items" /></p>
        <br/>
        <p><input type="submit" value="Send"/>/></p>
    </form>

